 #buttn
{
	border-color: skyblue;
	margin-top: 10px;
	height: 35px;
	width: 107px;
	border-radius: 50px;
	color: skyblue;
	background-color: lightgray;
}
#buttn2
{
	margin-top: 25px;
    width: 25%;
    border-radius: 50px;
}

#buttn3
{
    margin-left: 9px;
    border-radius: 50px;
    background: black;
    color: deepskyblue;
    width: 56px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    font-style: timesnewroman;
}
.warning
{
	color: #ff0000b5;
}