i
{
	color: darkorange;
}
body
{
	background-color: lightgray;
}
.h2
{
	color: gray;
}
.btn2
{
	background-color: black;
}
.btn
{
	margin-top: 10px;
	text-align: center;
	height: 35px;
	width: 107px;
	border-radius: 50px;
}
.btn-info
{
	color: white;
}

#model
{
	padding: 20px;
	background-color: lightgray;
}
#model>a
{
	color: deepskyblue;
	margin-left: 70%;
}
.acunt
{
	    margin-left: 160px;
}
.account
{
	color: white;
}


